@import "../../styles/shared/core";


.link {

  text-decoration: none;

  &:hover {
    text-decoration: none;
    .copy {
      text-decoration: underline;
    }
  }
}

[dir="rtl"] .copy {
  unicode-bidi: embed;
}

.copy {
  font-family: "SFProDisplay", "Helvetica Neue", "Helvetica", "Arial",
    sans-serif;
  color: #0071e3;
  font-size: 17px;
  letter-spacing: 0.022em;
  line-height: 1.381;
  font-weight: 400;
  &:after {
    content: " \203A";
    font-size: 19px;
  }
}

.icon,
.iconAfter::after,
.iconBefore:before {
  display: inline;
  position: static;
}

[dir="rtl"] .withIcon {
  unicode-bidi: bidi-override;
}
