/* @import "ac-sasskit/core"; */
@import "./fonts";
@mixin viewport-set(
  $viewport-name,
  $minWidth,
  $maxWidth: 0,
  $content: $contentWidth
) {
  min-width: $minWidth;
  max-width: $maxWidth;
}
:root {
  --sk-body-text-color: rgb(29, 29, 31);
  --sk-headline-text-color: rgb(29, 29, 31);
  --sk-body-background-color: rgb(255, 255, 255);
  --sk-body-font-stack: text;
  --sk-default-stacked-margin: 0.4em;
  --sk-paragraph-plus-element-margin: 0.8em;
  --sk-headline-plus-first-element-margin: 0.8em;
  --sk-headline-plus-headline-margin: 0.4em;
  --sk-paragraph-plus-headline-margin: 1.6em;
}

html {
  font-family:
    SF Pro Text,
    SF Pro Icons,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 106.25%;
  quotes: "â€œ" "â€";
}

@mixin viewport($size) {
  @if $size == xsmall {
    @media (min-width: 320px) and (max-width: 480px) {
      @content;
    }
  } @else if $size == small {
    @media (min-width: 481px) and (max-width: 734px) {
      @content;
    }
  } @else if $size == medium {
    @media (min-width: 735px) and (max-width: 1068p) {
      @content;
    }
  } @else if $size == large {
    @media (min-width: 1069px) and (max-width: 1440px) {
      @content;
    }
  } @else if $size == xlarge {
    @media (min-width: 1441px) {
      @content;
    }
  }
}
