@import "@/styles/shared/core";

.section {
  padding-top: 64px;
  margin-bottom: -4%;
  @include viewport(small) {
    padding-top: 56px;
  }
  @include viewport(xsmall) {
    padding-top: 48px;
  }
}
