@import "../../styles/shared/_core";
// @import "../../styles/shared/_viewports";

$container-border-radius: (
  "large": 28px,
  "small": 24px,
  "xsmall": 20px,
);

.accordionItem {
  border-top: 1px var(--accordion-border-color) solid;
  overflow: hidden;

  &:first-child {
    border-top: 0;
  }

  &.collapsed .accordionIcon {
    transform: rotateX(-180deg);
  }
}

.accordionButton {
  padding: 24px 0;
  letter-spacing: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  background-color: transparent;
  border: none;

  &:focus {
    outline: none;

    // &:after {
    //   @include focus-outline;
    // }

    // @include focus-mouse-selector {
    //   &:after {
    //     outline: none;
    //   }
    // }
  }

  &:after {
    content: "";
    display: block;
    height: calc(100% - 1.2em); // inset by 0.6em on top and bottom
    position: absolute;
    top: 0.6em;
    width: 100%;
  }
}

.accordionTitleText {
  max-width: column-width(12);
  text-align: left;
  font-size: 28px;
  font-weight: 600;
  font-family:
    SF Pro Display,
    SF Pro Icons,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
}

.accordionContent {
  padding-bottom: 28px;

  @include viewport(medium) {
    padding-bottom: 48px;
  }

  @include viewport(small) {
    padding-bottom: 40px;
  }

  p {
    margin-bottom: 16px;
    padding-right: 28px;
    padding-top: 0;
    font-size: 17px;
    line-height: 1.4705882353;
    font-family:
      SF Pro Text,
      SF Pro Icons,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
    color: var(--sk-body-text-color);

    &:last-of-type {
      margin-bottom: 0;

      @include viewport(medium) {
        padding-right: 16px;
        margin-bottom: 38px;
      }
      @include viewport(small) {
        padding-right: 20px;
        margin-bottom: 30px;
      }
    }
  }
}

.accordionTray {
  margin: 0;
  transition: height 400ms ease-in-out;

  @media (prefers-reduced-motion) {
    transition: none;
  }
}

.accordionIcon {
  font-size: 20px;
  color: var(--accordion-icon-color);
  align-items: center;
  color: swatch(glyph-gray-tertiary);
  display: flex;
  height: auto;
  justify-content: center;
  margin: 0;
  transition: all 400ms ease-in-out;
  width: 1em;

  &:hover {
    color: swatch(glyph-gray-secondary);
  }
}

.accordionIconSvg {
  overflow: visible;
  stroke-width: var(--accordion-icon-stroke-width);
  width: 1em;
}

.imageAccordionContainer {
  border-radius: var(--global-card-corner-radius);

  /* reset - sk overrides */
  p + *,
  ul + *,
  ol + * {
    margin-top: 0;
  }
  padding: 67px;
  position: relative;
  z-index: 1;
  background-color: var(--global-section-background-color-alt);
  overflow: hidden;
  min-height: 784px;
  //display: grid;
  // min/max of image container width per design specs
  // grid-template-columns: auto minmax(451px, 1090px);
  grid-template-columns:
    calc(var(--accordion-width) + var(--accordion-side-padding) * 2)
    1fr;

  @include viewport(medium) {
    display: flex;
    justify-content: center;
    width: 643px;
    height: auto;
  }

  @include viewport(small) {
    width: 421px;
  }

  @include viewport(xsmall) {
    width: 280px;
  }

  @each $viewport, $radius in $container-border-radius {
    @include viewport($viewport) {
      border-radius: $radius;
    }
  }
}

.accordion {
  --accordion-button-padding-top: 1em;
  --accordion-button-padding-bottom: 1em;
  --accordion-border-color: rgb(210, 210, 215);
  --accordion-border-width: 1px;
  --accordion-content-padding-top: 0;
  --accordion-content-padding-bottom: 1em;
  --accordion-content-paragraph-max-width: 83.3333333333%;
  --accordion-content-paragraph-padding-top: 0;
  --accordion-content-paragraph-padding-bottom: 0.8em;
  --accordion-icon-color: rgb(134, 134, 139);
  --accordion-icon-color-hover: rgb(110, 110, 115);
  --accordion-icon-width: 1em;
  --accordion-icon-height: auto;
  --accordion-icon-stroke-width: 2.25;
  --accordion-icon-svg-width: 1em;
  --accordion-title-max-width: 83.3333333333%;
  --accordion-transition-duration: 400ms;
  --accordion-side-padding: 90px;
  --accordion-width: 350px;
  --accordion-content-width: 323px;
  margin: 0;
  list-style: none;
  // width: var(--accordion-width);
  padding: 0 67px;
  justify-self: center;
  align-self: center;
  margin: 0;
  // @include viewport(large) {
  //   width: 350px;
  // }
  @include viewport(medium) {
    width: 535px;
    height: max-content;
    padding: 88px 46px;
  }

  @include viewport(small) {
    width: 361px;
    padding: 56px 30px;
  }
  @include viewport(xsmall) {
    width: 240px;
    padding: 30px 20px;
  }

  figure {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    picture {
      display: block;
    }
  }
  @media screen and (min-width: 1069px) {
    width: var(--accordion-width);
    figure {
      transition: opacity 400ms ease-in-out;
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: grid;
      grid-template-columns: auto minmax(451px, 1090px);

      &::before {
        display: block;
        content: " ";
        width: 350px;
        padding: 0 67px;
        justify-self: center;
        align-self: center;
      }

      picture {
        align-self: center;
        margin: 0 auto;
      }
    }

    .collapsed figure {
      opacity: 0;
    }
  }
}
